<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our history begins in Lucerne, Switzerland where our founders, Stefan Muff and Dr. Uli Sigg built Axon Group on the challenges of the digital transformation. Having come across many business owners who struggled to innovate and implement new technology in their business, Stefan and Dr. Uli decided to pursue a solution that could address their customer’s concern.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">Expanding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2011, we have made our first move up North, to a beautiful beach city in the central of Vietnam, Da Nang. New location gave us access to extra source of talents, which means more choices for our clients.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Growing the community</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We wanted to help people. Our business gives us the resources we need to organize many communal programs. Besides free Agile courses for university students in various locations across Vietnam, our own community, Scrum Breakfast was born in 2012, a monthly gathering where people with the same interest in Agile software development would sit down, enjoy their free breakfast and coffee, and discuss about everything in Scrum. The event is later brought to Da Nang and we’re looking to launch it in Can Tho.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">Making global debut</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In late 2015, our San Francisco office was opened to American corporations, allowing them to find more affordable and suitable software development services outside of the Silicon Valley. The following years, we successfully brought our services to Australia and Japan.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>